
h1{
    text-align: center;
    color: rgb(223, 198, 169);
    font-family: 'Lobster', cursive;
}
.mapcontainer {
    width: 900px;
    margin: 0 auto 0 auto;
    padding-top: 35px;
    padding-bottom: 60px;
}
.worldmap{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}